fieldset {
  border: none;
}

.margin-top-10 {
	margin-top: 10px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-top-50 {
	margin-top: 50px;
}
.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-left-10 {
	margin-left: 10px;
}
.margin-right-10 {
	margin-right: 10px;
}

.margin-left-20 {
	margin-left: 20px;
}
.margin-right-20 {
	margin-right: 20px;
}

